*{
    background: #dac6eb;
    margin: 0;
    padding: 0;
}
h1{
    color: rgba(100, 10, 191, 0.929);
    font-size: 2rem;
   
}
.gamebox{
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.info{
    margin-left: 50px;
    margin-top: -100PX;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25vmin;
    justify-content: center;
    align-items: center;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background: #ffffff;
    font-size: 12vmin;
    color: rgb(254, 141, 3);
    cursor: pointer;

}
.resetbtn{
    padding: 8px;
    background: rgb(19, 149, 28);
    color: rgb(255, 255, 255);
    font-size: 8px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 135px;

}
.status{
    height: 30px;
    width: 330px;
    background-color: rgb(181, 181, 205);
    text-align: center;
    font-size: 1.5rem ;
    border-radius: 10px;
    color: rgb(26, 14, 83);   
    margin-top: 7px;
}